{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <p>BuyList</p>
        <p>Listas</p>
        <p>Receitas</p>
    </header>

    <main>
        <div id="overlay"></div>
        <section>
            <div class="topSection">
                <p>Listas</p>

                <input type="button" class="discreetButton" value="Listas Arquivadas">
            </div>

            <div class="opSection">
                <input type="button" value="Adicionar" id="addButton" onclick="openPopup()">
                <div id="adicionarListaPopUp">
                    <p>Criar Nova Lista</p>
                    <form action="/add_list/" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <input type="text" name="name" id="name" placeholder="Nome da Lista">
                        </fieldset>
                        <fieldset>
                            <input type="submit" value="Criar">
                        </fieldset>
                    </form>
                </div>
            </div>

            <div id="listas">
                {% for list in lists %}
                <div class="lista">
                    <div id="listaFirstLine">
                        <p class="listName">{{list.name}}</p>
                        <p class="listPrice">R$XXX,XX</p>
                    </div>
                    <div id="listaSecondLine">
                        <p class="listItens">{% for pl in productsLists %}  {% if pl.list.id == list.id %} {{pl.product.name}} /  {% endif %} {% endfor %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    
        <aside>
    
        </aside>
    </main>
</body>
</html>