/* GERAL */

@charset "UTF-8";

:root {
    --cor1: #2c3532;
    --cor2: #6640f0;
    --cor3: #f7e73b;
    --cor4: #28afb0;
    --cor5: #96cfdc;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="button"], input[type="submit"]:hover {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    height: 25px;
}

header {
    background-color: var(--cor1);
    width: auto;
    height: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: white;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

section {
    background-color: var(--cor1);
    width: 600px;
    height: 80vh;
    padding: 30px;
    margin-right: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}

section > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input.discreetButton {
    padding: 5px 20px;
    border: 1px solid var(--cor5);
    background-color: #ffffff00;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #00000048;
}

input.discreetButton:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

input#addButton {
    background-color: var(--cor3);
    padding: 8px 15px;
    color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px #00000048;
    font-weight: 600;
    text-shadow: 1px 1px black;
}

div.PopUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 2;
    color: black;
}

div.PopUp h1 {
        color: black;
        font-weight: 600;
        font-size: 1em;
        margin-bottom: 15px;
}

div.popUp p {
    font-weight: 400;
    font-size: .8em;
}

div.PopUp fieldset {
    border: none;
    margin-bottom: 10px;
}

div.PopUp input[type="text"] {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #0000003a;
}

div.PopUp input[type="text"]:focus {
    /* border: none; */
    outline: 2px solid var(--cor2);
}

div.PopUp input[type="submit"] {
    background-color: var(--cor3);
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px #0000003a;
    font-weight: 600;
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px #0000003a;
    display: block;
    margin: 25px auto 5px auto; 
}

div#listas {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

div.lista {
    background-color: var(--cor2);
    padding: 20px 0px;
    width: 100%;
    min-height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px #0000003a;
}

div.lista > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
}

div#listaFirstLine {
    align-items: end;
}

div#listaSecondLine {
    padding-top: 22px;
}

p.listName {
    font-weight: 500;
}

p.listPrice {
    font-weight: 900;
    font-size: 1.1em;
}

p.listItens {
    font-size: .7em;
    font-weight: 100;
}

input.addProductsToList {
    padding: 5px 20px;
    border: 1px solid var(--cor5);
    background-color: #ffffff00;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #00000048;
    display: none;
}

aside {
    background-color: var(--cor1);
    width: 500px;
    padding: 30px;
    border-radius: 5px;
}

div.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.produto {
    background-color: white;
    padding: 5px;
    width: 120px;
    color: black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px #0000003a;
}

div.produto input[type="number"] {
    width: 40px;
    border: 1px solid #0000003a;
    height: 12px;
}

div.produto input[type="submit"] {
    background-color: var(--cor4);
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    border: none;
    box-shadow: 1px 1px #0000003a;
    text-shadow: 1px 1px #0000003a;
    font-size: 1.1em;
    display: none;
}

p.prodName {
    font-weight: 500;
}

p.prodMP {
    font-size: .7em;
    font-weight: lighter;
}

p.prodPrice {
    font-weight: 600;
}

.floatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor2);
    color: white;
    padding: 12px;
    font-size: .9em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    display: none;
    font-weight: 600;
}